[Desktop Entry]
Comment=picom compositor
Encoding=UTF-8
Exec=/bin/bash -c "sleep 0.5 && picom -b --config ~/.config/picom/picom.conf --experimental-backends"
Name=compositor
RunHook=0
StartupNotify=false
Terminal=false
Type=Application
